{{>layout/header}}
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Boot</a>
        </div>
    </div>
</nav>

<div class="container">
    <div>
        <form method="post">
            <input name="text" placeholder="Input Name" type="text"/>
            <button type="submit">Send</button>
        </form>
    </div>
    <div>Insurances</div>
    {{#insurances}}
    <div>
        <b>{{id}}</b>
        <b>{{name}}</b>
        <b>{{type}}</b>
        <b>{{start}}</b>
        <b>{{end}}</b>
        <b>{{plan}}</b>
        <b>{{person}}</b>
        <b>{{payment}}</b>
    </div>
    {{/insurances}}
</div>
<div id="app">
    {{ message }}
</div>
<script src="/js/main.js"></script>
</body>
{{>layout/footer}}